/*
 * 板级定制 dts（学习项目）
 * 从官方 imx6ull-14x14-evk-emmc.dts 复制改名，定制直接在本文件修改/追加。
 *
 * 第一个任务：网卡（fec + LAN8720A）
 *   在"板级定制区"追加：
 *     &fec1 { pinctrl-0 = <...>; phy-mode = "rmii";
 *             phy-reset-gpios = <...>; phy-reset-duration = <...>; ... };
 *   以及 iomuxc 的 pinctrl 组定义（MX6UL_PAD_...）。
 *   卡住对照: git show IMX6:arch/arm/boot/dts/imx6ull-14x14-evk-emmc.dts
 */

/*
 * Copyright (C) 2016 Freescale Semiconductor, Inc.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

#include "imx6ull-14x14-evk-gengtao0901.dts"

&usdhc2 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc2_8bit>;
	pinctrl-1 = <&pinctrl_usdhc2_8bit_100mhz>;
	pinctrl-2 = <&pinctrl_usdhc2_8bit_200mhz>;
	bus-width = <8>;
	non-removable;
	status = "okay";
};

/* ===== 板级定制区：LCD 屏（分辨率/时序集中在此） ===== */

/*
 * ATK-7RGBLCD 7寸 1024x600
 * 引脚复用在基线 imx6ull-14x14-evk-gengtao0901.dts 的
 * pinctrl_lcdif_* / &lcdif(pinctrl) / backlight+pwm1；
 * 本文件只放「这块屏」的 display + timings，避免拆成 &display0/&timing0 两处。
 */
&lcdif {
	display = <&display0>;

	display0: display {
		bits-per-pixel = <16>;
		bus-width = <24>;

		display-timings {
			native-mode = <&timing0>;
			timing0: timing0 {
				clock-frequency = <51200000>;
				hactive = <1024>;
				vactive = <600>;
				hfront-porch = <160>;
				hback-porch = <140>;
				hsync-len = <20>;
				vfront-porch = <12>;
				vback-porch = <20>;
				vsync-len = <3>;

				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <1>;
				pixelclk-active = <0>;
			};
		};
	};
};
